<div class="row container-fluid">
  <h2 style="margin-left: 30px; color: blue">Existing results</h2>
</div>
<div class="row container-fluid" style="margin: 5%">
  {% for v in vid %}
    <div class="col-md-2">
      <figure>
        <a href="http://preon.iiit.ac.in/~ranajit_saha/Videos/ExistingResults/OL{{v}}.mp4" target="_blank">
          <img src="http://preon.iiit.ac.in/~ranajit_saha/frames/OL{{v}}.jpg" style="height: 50%; width: 50%" alt="image"></img>
        </a>
        <figcaption style=" font-size: large;"><strong>Video-{{v}}</strong></figcaption>
      </figure>
    </div>
    {% if loop.index in brk %}
      <br>
    {% endif %}
  {% endfor %}
</div>

<div class="container-fluid" style="text-align: center;">
  <ul class="pagination pagination-lg">
  {% for p in pages %}
    <li class="page-item"><a class="page-link" href="#" onclick="paginateExisting({{p}})">{{p}}</a></li>
  {% endfor %}
</ul>
</div>