<div class="card">
	<h3 class="card-header">
	    Showing results for Video-<span id="ttl">{{title}}</span>
	 </h3>
	<div class="card-body" style="margin-top: 5%;">
	<div class="col-md-4">
		<figure>
			<a href="http://preon.iiit.ac.in/~ranajit_saha/Videos/RawVideos/R{{title}}.mp4">
				<img src="http://preon.iiit.ac.in/~ranajit_saha/frames/R{{title}}.jpg" style="height: 70%; width: 70%" id="Raw" alt="Original Video"></img>
			</a>
			<figcaption style=" font-size: large;"><strong>Original Video</strong></figcaption>
		</figure>
	</div>
	<div class="col-md-4">
		<figure>
			<a href="http://preon.iiit.ac.in/~ranajit_saha/Videos/RawVideos/OL{{title}}.mp4">
				<img src="http://preon.iiit.ac.in/~ranajit_saha/frames/OL{{title}}.jpg" style="height: 70%; width: 70%" id="Exisitng" alt="Original Video"></img>
			</a>
			<figcaption style=" font-size: large"><strong>Existing Result</strong></figcaption>
		</figure>
	</div>
	<div class="col-md-4">
		<a href="">
			<img src="" style="height: 70%; width: 70%" id="Proposed1"></img>
		</a>
	</div>
	<div class="col-md-12" style="margin-top: 5%">
		<label for="comments" style="color: blue; float: left"><h3><strong>Comments :</strong></h3></label>
	 	<textarea class="form-control" rows="12" cols="40" id="comments">{{comments}}</textarea>
		<button class="btn btn-primary" id="saveComments" style="float: right;margin-top: 2%;" onclick="saveComments()"><strong>Save</strong></button>
	</div>
</div>

<script type="text/javascript">
	function saveComments() {
		comments = $('#comments').val()
		title = $('#ttl').html()
		$.ajax({
	        type: "GET",
	        url: "/MSR/saveComments/",
	        data: { 
	            'comments' : comments,
	            'title' : title,

	        },
	        success: updateSuccess,
	        dataType: 'text'
	    });
	}
	function updateSuccess(data, textStatus, jqXHR) {
		alert(data)
	}
</script>